    <style>
body {
  background-image: url('https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/cpiljticobsclhchddvy');
   background-repeat: no-repeat;
   background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h1>{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>
{% endblock %}
